/* Estilos para o formulário */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

section img {
    max-width: 100px;
}

.row {
    display:flex;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {

    border: 1px solid #ccc;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Estilos para a seção de rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}






/* Estilos para o botão de calcular */
#calcular-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#calcular-btn:hover {
    background-color: #555;
}

@media screen and (max-width: 768px) {
    #calcular-btn {
        width: 100%; /* Ocupa a largura inteira em telas menores que 768px */
        background-color: #ff5733; /* Nova cor de fundo */
    }
}