*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    justify-content: center;
    display: flex;
}


.headerConfig {
    display: block;
    text-align: center;
    align-items: center;
}

.navBar {
    display: inline-block;
    font-family: 'Poppins', sans-serif;

}

main h2{
    text-align: center;
    padding-top: 40px;
}

section{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 2%;
    display: flex;
    align-items: center;
}

section img{
    margin-right: 10px;
}

section h4{
    margin-bottom: 10px;
}

.titleOne{
    color: azure;
    font-size: 70px;
    
}

.titulo{
    text-align: center;
    padding-top: 50px;
}

.subTitulo{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 30px;
}

.container-md{
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.411);
    align-items: center;
    padding-bottom: 40px;
}

.container-md main img{
    max-width: 10%;
}

.formas{
    padding-left: 50px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
}

.formas img{
    margin-right: 20px;
}

.btn-primary{
    width: 110px;
    height: 40px;
}


footer{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    text-align: center;
    color: white;
    padding: 10px;
}

footer p{
    margin-top: 10px;
}

.footerDistribuition {
    display: flex;
    justify-content: center;
    margin-right: 25px;
    margin-bottom: 0%;
    
}

.listWithoutMark {
    list-style-type: none;
    text-align: left;
    margin-top: 15px;
}

.lineFooter {
    border-bottom: 1px solid #FFFFFF; 
    margin-top: 0%;
    margin-right: 0%;
    margin-left: 0%;
  }

  .titleFooter {
    display: flex;
    align-items: center;
    margin-right: 50px;
  }

  .titleFooterConfig {
    font-size: 40px;
  }

  .linksFooter {
    text-decoration: none;
    color: #FFFFFF;
  }

  .linksFooter:hover {
    transition: 2ms;
    color: #30cfd0;
  }

  .imageFooter {
    margin-top: 10px;
    width: 50px !important;
    height: 50px !important;
  }